{% extends 'blog/base.html' %}



{% block main_area %}
    
    <div class="container">        
        <div class="row">
            <!-- Blog entries-->
            {% for p in post_list %}
            <div class="col-lg-6">
                <!-- Featured blog post-->
                <div class="card mb-4" style="width: 24rem;">
                    {% if p.head_image %}
                        <a href="{{p.get_absolute_url}}"><img class="card-img-top" src="{{p.head_image.url}}" alt="Card image cap" /></a>
                    {% else %}
                        <a href="{{p.get_absolute_url}}"><img class="card-img-top" src="http://picsum.photos/seed/{{p.id}}/600/400" alt="Card image cap" /></a>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{p.title}}</a></h2>
                        {% if p.hook_text%}
                            <h5 class='text-muted'>{{p.hook_text}}</h5>
                        {% endif%}
                        <h4 class="card-text">{{p.created_at}}</h4>                
                        <p>{{p.content | truncatechars:40}}</p>
                        <a href="{{p.get_absolute_url}}" class="btn btn-primary">More</a>
                    </div>
                </div>    
            </div>
            {% endfor %}
              
        </div>
    </div>
    
    
{% endblock %}


