{% extends 'blog/base.html' %}

{% block main_area %}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class='btn btn-info btn-sm' href='/blog/create_post/' role='botton'><i class='fas fa-pen'></i>&nbsp;&nbsp;New Post</a>
        {% endif %}
    {% endif%}


    <h1>{% if category %}<span class="badge badge-success">{{category}}</span>{% endif %}
        {% if tag %}<span class='badge badge-light'><i class='fas fa-tags'></i>{{tag}}({{tag.post_set.count}})</span>{% endif %}
    </h1>

{% for p in post_list %}   
            <!-- Blog entries-->   
                <!-- Featured blog post-->
                <div class="card my-3" id='post-{{p.pk}}'>

                    <div class="card-header">
                        <h4 class="card-text">{{p.created_at}} / {{p.author | upper}}</h4>
                    </div>

                    {% if p.head_image %}
                        <a href="{{p.get_absolute_url}}"><img class="card-img-top" src="{{p.head_image.url}}" alt="Card image cap" /></a>
                    {% else %}
                        <a href="{{p.get_absolute_url}}"><img class="card-img-top" src="http://picsum.photos/seed/{{p.id}}/600/400" alt="Card image cap" /></a>
                    {% endif %}

                    <div class="card-body">
                        {% if p.category%}
                            <span class="badge badge-success float-right">{{p.category}}</span>
                        {% else %}
                            <span class="badge badge-success float-right">미분류</span>
                        {% endif %}
                        <h2 class="card-title">{{p.title}}</a></h2>
                        {% if p.hook_text%}
                            <h5 class='text-muted'>{{p.hook_text}}</h5>
                        {% endif%}                                        
                        <p>{{p.get_content_markdown | truncatewords_html:40 | safe }}</p>
                        {% if p.tags.exists %}
                        <i class='fas fa-tags'></i>
                        {% for tag in p.tags.iterator %}
                            <a href='{{tag.get_absolute_url}}'><span class='badge badge-pill badge-light'>{{tag}}</span></a>
                        {% endfor %}
                        <br/>
                        {% endif %}
                        <a href="{{p.get_absolute_url}}" class="btn btn-primary">More</a>
                    </div>

                    <div class="card-footer">
                        <p>나중에 채울 요소</p>
                    </div>
                </div>
    
{% endfor %}    
{% endblock %}


